@import url('https://fonts.googleapis.com/css2?family=Allura&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Paragraph Font Styles */
/* font-family: 'Allura', cursive;
font-family: 'Tangerine', cursive; 
font-family: 'Montserrat', sans-serif; */

:root {
  --background-color: #2e0f38;
  --pink-border: #b45dbb;
  --paragraph-color: #ffffff;
  --heading-color: #b45dbb;
  --purple-border: #8351a8;
}

*,
*::before,
*::after {
  margin: 0;
}

body {
  background: url(../images/background.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: var(--paragraph-color);
  overflow: hidden;
}


.grid-container {
  display: flex;
  margin: 10rem;
  margin-left: 18rem;
  justify-content: center;
  margin-bottom: 0;
}

/* NAVIGATION STYLING */
.nav-wrapper {
  max-width: 16rem;
  text-align: center;
  margin-right: 2rem;
  margin-top: -2rem;
  margin-bottom: 0;
}

.my-image {
  border-radius: 50%;
  border: 1px solid #8351a8;
  width: 11rem;
  margin-top: 3.5rem;
}


.nav-wrapper ul {
  text-align: left;
}

.nav-wrapper h2 {
  font-family: 'Allura', cursive;
  color: var(--heading-color);
  font-size: 3.6rem;
  margin-bottom: -2.2rem;
  margin-top: 1.5rem;
}

.arrow-line-nav {
  max-width: 13rem;
  opacity: 0.3;
}

ul li a {
  text-decoration: none;
  color: var(--paragraph-color);
  font-family: 'Tangerine', cursive;
  font-size: 1.8rem;
  vertical-align: middle;
  font-weight: 700;
}

ul li a:hover {
  display: inline-block;
  color: var(--pink-border);
  transform: translateX(5%);
  transition-timing-function: ease-in;
  transition-duration: 250ms;
}

ul li {
  list-style-type: none;
  line-height: 1.8;
  margin-left: -2rem;
}

.nav-arrow {
  width: 2rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

/* MAIN CONTENT STYLING */
.purple-box {
  max-width: 800px;
  min-width: 800px;
  border: 4px solid var(--pink-border);
  opacity: 0.2;
  max-height: 550px;
  min-height: 550px;
  background-color: var(--purple-border);
  border-radius: 1rem;
  position: relative;
  margin-bottom: 0;
}

.nums-and-ones {
  transform: translateY(-96%);
  min-width: 800px;
  min-height: 620px;
  max-width: 800px;
  max-height: 620px;
  opacity: 0.1;
}

h1 {
  color: var(--heading-color);
  font-family: 'Allura', cursive;
  font-weight: 400;
  font-size: 5rem;
  margin-left: 12%;
  transform: translateY(-1210%);
}

.main-content-arrow-1 {
  display: block;
  margin-left: 18rem;
  margin-top: -78.5rem;
  margin-bottom: 0;
  opacity: 0.3;
}

.main-content-arrow-2 {
  display: block;
  margin-left: 18rem;
  margin-top: -0.5rem;
  opacity: 0.3;
}

.html,
.css,
.javascript,
.jquery,
.mongo,
.bootstrap,
.git,
.node,
.react {
  width: 6%;
  padding-right: 1rem;
}

.skills {
  margin-left: 2rem;
  margin-top: 4rem;
}

.syntax {
  width: 2rem;
  vertical-align: middle;
  opacity: 1;
}

p {
  display: inline-block;
  padding: 0;
}

.first {
  padding-left: 1rem;
  margin-top: 2rem;
}

.second {
  padding-left: 3.5rem;
  margin-top: 1.5rem;
}

.second p {
  width: 60%;
}

div.second img.syntax {
  vertical-align: top;
  margin-left: -0.6rem;
}

.third {
  margin-top: 1.5rem;
  padding-left: 6rem;
}

.fourth {
  padding-left: 9rem;
  margin-top: 1.5rem;
}

.fifth {
  padding-left: 14rem;
  margin-top: 1.5rem;
}

.fifth p {
  width: 63%;
}

div.fifth img.syntax {
  vertical-align: top;
  margin-left: -2.3rem;
}