
/* SMALL SCREENS */
@media only screen and (min-width: 320px) and (max-width: 800px) {

  .my-image {
    margin-top: 5rem;
  }

  body {
    overflow:auto;
  }

  .purple-box,
  .nums-and-ones {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 100vh;
    min-height: 130vh;
    margin: auto;
    margin-top: 2rem;
    position: relative;
  }

  .nums-and-ones {
    margin-top: -5rem;
  }

  .grid-container {
    max-width: 90vw;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    text-align: center;
  }

  .main-content-arrow-1 {
    margin-top: -159rem;
    margin-left: -0.3rem;
  }

  .nav1 {
    display: none;
  }

  .nav2 {
    margin: auto;
  }

  h1 {
    margin-left: -1rem;
    margin-top: 23rem;
  }

  main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 1rem; */
    align-items: center;
    min-width: 100vw;
  }

  br {
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    background: transparent;
    margin-bottom: 3rem;
  }

  h2:hover,
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
  }

  h2:hover {
    transform:translateY(5%);
    transition: all 250ms ease-in;
    text-shadow: 3px 3px 5px var(--link-color);
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth {
    min-width: 80vw;
    max-width: 80vw;
    text-align: left;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    min-width: 60vw;
    max-width: 90vw;
    align-items: center;
    padding-top: 4rem;
  }

  .html,
  .css,
  .javascript,
  .jquery,
  .bootstrap,
  .git,
  .node,
  .react,
  .mongo {
    width: 4rem;
    padding: 1rem;
  }
}

/* TABLET SCREENS */
@media only screen and (min-width: 522px) and (max-width: 801px) {
  h1 {
    margin: auto;
    margin-top: -28rem;
  }

  .main-content-arrow-1 {
    margin-top: -78rem;
    margin-left: -0.1rem;
  }

  .nums-and-ones {
    margin-top: -8rem;
  }
}
