.main-content-arrow-1 {
  position: relative;
  z-index: 2;
  margin-top: 1rem;
}

.main-content-arrow-2 {
  margin-top: 26.7rem;
}

.grid-container {
  margin-left: -2.1rem;
}

h1 {
  margin-top: 73.5rem;
  position: absolute;
  z-index: 2;
  margin-left: 17.5rem;
  text-shadow: -1px -1px 15px var(--link-color);
}

.purple-box {
  margin-top: -33.9rem;
}

/* PROJECTS CAROUSEL */
.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}

.container {
  /* overflow: hidden; */
  padding: 20px;
  margin-top: -70rem;
  margin-left: -2rem;
  background: rgba(0, 0, 0, 0)
}

.card-carousel {
  --card-width: 100%;
  --card-max-width: 260px;
  --card-height: 360px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
}

.card-carousel.smooth-return {
  transition: all .2s ease;
}

.card-carousel .card {
  background: #8351a8;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0, 0, 0, .5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1rem 1rem;
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.highlight {
  filter: brightness(1)
}


.card:nth-of-type(1) .image-container {
  background-image: url(../images/number-guessing-game.png);
}

.card:nth-of-type(2) .image-container {
  background-image: url(../images/tindog.png);
}

.card:nth-of-type(3) .image-container {
  background-image: url(../images/random-quote.png)
}

.card:nth-of-type(4) .image-container {
  background-image: url(../images/flappy-penguin.png)
}

.card:nth-of-type(5) .image-container {
  background-image: url("https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg")
}

.image-container {
  width: 10em;
  height: 10em;
  position: relative;
  background-size: cover;
  margin-bottom: 1em;
  border-radius: 30%;
  padding: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(204, 204, 204, 0.13);

}

.image-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: solid 3px rgba(196, 196, 196, 0.397);
  border-radius: 30%;
  position: absolute;
  top: calc(1% - 5px);
  left: calc(1% - 5px);
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.301);
}

.project-link {
  text-decoration: none;
  color: var(--heading-color);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.671);
}

.project-link:hover {
  color: var(--link-color);
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  text-shadow: 0 0 5px #000;
}

b {
  font-size: 1.3rem;
}