.purple-box {
  margin-top: 0.1rem;
  position: relative;
}

.grid-container {
  margin-left: -2.2rem;
}

.main-content-arrow-1 {
  top: 121.5rem;
  position: absolute;
}

.main-content-arrow-2 {
  position: absolute;
  top: 13.6rem;
}

h1 {
  top: 85.5rem;
  position: absolute;
  left: 40rem;
  text-shadow: -1px -1px 15px var(--link-color);
}

#name {
  margin-left: -48rem;
  margin-top: 15rem;
}

#email {
  margin-top: 19rem;
  margin-left: -48rem;
}

#message,
#email,
#name {
  border-radius: 2rem;
  width: 25rem;
  height: 2rem;
  border: 2px solid var(--link-color);
  position: absolute;
  z-index: 3;
  padding-left: 1rem;
}

#message {
  margin-top: 23rem;
  margin-left: -48rem;
  padding: 30px;
}

#name:focus,
#email:focus,
#message:focus {
  border: 2px solid var(--heading-color);
  outline: none;
}

#button {
  margin-top: 26.5rem;
  margin-left: -15rem;
  background-color: var(--heading-color);
  border-radius: 4rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.541);
  color: #fff;
  padding: 10px 70px;
  position: absolute;
  z-index: 3;
}