.purple-box {
  margin-top: 0.1rem;
  position: relative;
}

.grid-container {
  margin-left: -2.2rem;
}

.main-content-arrow-1 {
  top: 121.5rem;
  position: absolute;
}

.main-content-arrow-2 {
  position: absolute;
  top: 13.6rem;
}

h1 {
  top: 85.5rem;
  position: absolute;
  left: 40rem;
  text-shadow: -1px -1px 15px var(--link-color);
}

#name {
  border-radius: 3rem;
  width: 25rem;
  height: 2rem;
  border: 2px solid var(--link-color);
  margin-left: -48rem;
  margin-top: 15rem;
  position: absolute;
  z-index: 3;
  padding-left: 1rem;
}

#email {
  border-radius: 2rem;
  width: 25rem;
  height: 2rem;
  border: 2px solid var(--link-color);
  position: absolute;
  z-index: 3;
  padding-left: 1rem;
  margin-top: 19rem;
  margin-left: -48rem;
}

#name:focus,
#email:focus {
  border: 2px solid var(--heading-color);
  outline: none;
}